<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include head.html %}
</head>

<body id="page">

{% include browser-upgrade.html %}
{% include header.html %}

<div id="main" role="main">
  <article class="hentry">
    <div class="entry-content">
      {{ content }}
      <footer class="entry-meta">
        {% if page.modified %}<span>更新于: <span class="entry-date date published updated"><time datetime="{{ page.modified }}">{{ page.modified | date: "%Y年%m月%d日" }}</time></span></span>
        <span class="author vcard"><span class="fn">{{ site.owner.name }}</span></span>{% endif %}
      </footer>
      {% if page.share != false %}{% include social-share.html %}{% endif %}
      <div id="SOHUCS" sid=""></div>
      <script charset="utf-8" type="text/javascript" src="https://cy-cdn.kuaizhan.com/upload/changyan.js" ></script>
      <script type="text/javascript">
        window.changyan.api.config({
          appid: 'cyvh1iOKV',
          conf: 'prod_d901a93c7a442694ddac93e73b8e932c'
        });
      </script>
    </div><!-- /.entry-content -->
  </article>
</div><!-- /#main -->

{% include scripts.html %}

<div class="footer-wrapper">
  <footer role="contentinfo">
    {% include footer.html %}
  </footer>
</div><!-- /.footer-wrapper -->

</body>
</html>
